{% extends 'store/_layout' %}

{% block body %}

	{% set orderNumber = craft.request.getParam('number') %}
	{% set order = craft.commerce.orders.number(orderNumber).first() %}

	<div class="container">
		{% if order %}
			<p>Thank you for your order #{{ order.id }} for {{ order.totalPrice|currency(order.currency) }}</p>

			{# Select by order ID. Eager-load the Product. #}
			{% set licenses = null %}

			{% if licenses %}
				Your order contained the following licenses:
				<table class="table table-striped">
					<thead>
						<tr>
							<th width="30%">Product</th>
							<th>License key</th>
						</tr>
					</thead>
					<tbody>
					{% for license in licenses %}
						<tr>
							<td><a href="{{ license.product.getUrl() }}">{{ license.product.title }}</a></td>
							<td>
								{% if license.product.download|length %}
									<ul class="list">
									{% for download in license.product.download %}
										<li><a href="{{ download.getUrl() }}">{{ download.title }}</a></li>
									{% endfor %}
									</ul>
								{% endif %}
							</td>
							<td>{{ license.dateCreated|date('Y-m-d H:i:s') }}</td>
							<td>
								{% if license.orderId %}
									<a href="/store/order?number={{ license.order.number }}">Order no. {{ license.orderId }}</a>
								{% endif %}
							</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			{% endif %}
			<a href="/store">Back to Store</a>
		{% else %}
			{% redirect 'store' %}
		{% endif %}
	</div>

{% endblock %}